@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    a{
        text-decoration: none;
    }
    .contact{
        background-color: #ecf3fc;
        height: 50px;
        width: 100vw;
        .nr-mid{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1140px;
            height: 50px;
            margin: 0 auto;
            .nr-phone{
                color: black;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 10px;
                width: 350px;
                img{
                    padding: 1px .5px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    margin-right: 5px;                }
                .n1{
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: black;
                    span{
                        padding-left: 0px;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .nr-media{
                display: flex;
                margin: auto;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                width: 350px;
                a{
                    border-radius: 25px 25px;
                    margin-left: 2px;
                    margin-right: 2px;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(27,52,100);
                    transition: .6s ease;
                    i{
                        color: white;
                        font-size: 1rem;
                    }
                    &:hover{
                        background-color: rgb(244,196,28);
                        transition: .6s ease;
                    }
                }
            }
            .nr-hours{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 350px;
                padding: 0 10px;
                select{
                    height: 25px;
                    background: transparent;
                    margin: 0 10px;
                    width: 90px;
                    padding: 0 10px;
                    border: 1px solid rgb(93, 114, 131);
                    border-radius: 15px 15px;
                    display: inline-block;
                    cursor: pointer;
                    appearance: none;
                    box-sizing: border-box;
                    background-image: url(/Romofyi/img/down-filled-triangular-arrow.png);
                    background-position: 90% 50%;
                    background-size: .6rem;
                    background-repeat: no-repeat;
                    color: rgb(93, 114, 131);
                    &:focus{
                        outline: 0;
                    }
                }
                p{
                    font-size: .9rem;
                    color: black;
                    font-weight: 500;
                }
            }
        }
    }
    .logo{
        background-color: white;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo-mid{
            max-width: 1140px;
            width: 1140px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .logo-mail{
                padding: 0 10px;
                width: 300px;
                a{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    i{
                        font-size: 1.4rem;
                        padding-right: 10px;
                        color: rgb(27,52,100);
                    }
                    p{
                        font-size: 1.2rem;
                        color: rgb(27,52,100);
                        letter-spacing: -0.5px;
                        font-weight: 500;
                    }
                }
            }
            .logo-img{
                margin: 0 auto;
                padding: 0 10px;
                width: 300px;
                display: flex;
                justify-content: center;
                img{
                    display: block;
                }
            }
            .logo-order{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 0 10px;
                width: 300px;
                li{
                    list-style-type: none;
                    i{
                        padding-right: 30px;
                        color: rgb(27,52,100);
                        font-size: 1.7rem;
                    }
                }
                .order{
                    color: white;
                    background-color: rgb(27,52,100);
                    width: 100px;
                    text-align: center;
                    border-radius: 25px 25px;
                    padding: 5px;
                    font-weight: 500;
                    transition: .4s ease;
                    &:hover{
                        background-color: rgb(244,196,28);
                        transition: .7s ease;
                    }
                }
            }
        }
    }
    .menu-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(27,52,100);
        height: 80px;
        width: 100%;
        .menu-box{
            max-width: 1140px;
            width: 1140px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .hamburger{
                display: none;
            }
            .menu{
                list-style-type: none;
                flex-direction: row;
                display: flex;
                margin-right: auto;
                padding-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                li{
                    a{
                        color: white;
                        text-transform: uppercase;
                        font-weight: 500;
                        padding: 0 20px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: .7s ease;
                        letter-spacing: .8px;
                        &:hover{
                            background-color: rgb(244,196,28);
                            transition: .5s ease;
                        }
                    }
                    .m-active{
                        background-color: rgb(244,196,28);
                    }
                }
            }
            form{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                input{
                    width: 300px;
                    border-radius: 25px 25px;
                    padding: 0 10px;
                    height: 30px;
                    border: none;
                    &:focus{
                        outline: 0;
                    }
                    &::placeholder{
                        padding-left: 10px;
                    }
                }
                button{
                    position: absolute;
                    right: 2%;
                    background-color: white;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
    .banner{
        width: 100%;
        height: 700px;
        background-image: url(/Romofyi/img/banner.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0;
        .banner-in{
            max-width: 1140px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 90px;
            flex-direction: row;
            margin: 0 auto;
            .banner-txt{
                display: flex;
                flex-direction: column;
                padding: 0 10px;
                margin-right: auto;
                h2{
                    margin: 0;
                    color: rgb(27,52,100);
                    font-size: 5.6rem;
                    letter-spacing: -4px;
                    font-weight: 800;
                    font-family: 'Mukta', sans-serif;
                    line-height: 80px;
                    margin-top: 40px;
                }
                h1{
                    font-size: 7.5rem;
                    color: rgb(244,196,28);
                    margin: 0;
                    font-weight: 500;
                }
                p{
                    color: black;
                    font-size: 2.4rem;
                    letter-spacing: -.5px;
                    margin: 30px 0 50px 0;
                    font-weight: 600;
                }
                a{
                    background-color: rgb(12, 83, 216);
                    color: white;
                    border-radius: 35px 35px;
                    width: 120px;
                    text-align: center;
                    padding: 18px 45px;
                    transition: .7s ease;
                    font-weight: 600;
                    font-size: 1.1rem;
                    &:hover{
                        background-color: rgb(244,196,28);
                        transition: 1s ease;
                    }
                }
            }
            .banner-img{
                padding: 0 10px;
                position: relative;
                width: 400px;
                height: 400px;
                img{
                    width: 400px;
                    height: 600px;
                    position: absolute;
                    z-index: 2;
                }
            }
        }
    }
    .blocks{
        min-height: 200px;
        width: 100%;
        position: relative;
        background-color: white;
        .blocks-cont{
            width: 100%;
            top: -23px;
            z-index: 3;
            position: absolute;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
                "box-1 box-2 box-3 box-4 box-5 box-6";
            .box{
                height: 216px;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: white;
                    font-weight: 800;
                    font-size: 1.1rem;
                    margin: 0;
                    text-transform: uppercase;
                    font-family: 'Mukta', sans-serif;
                }
            } 
            .box-1{
                grid-area: box-1;
                background-color: rgb(244,196,28);
            }
            .box-2{
                grid-area: box-2;
                background-color: rgb(27,52,100);
            }
            .box-3{
                grid-area: box-3;
                background-color: rgb(244,196,28);
            }
            .box-4{
                grid-area: box-4;
                background-color: rgb(27,52,100);
            }
            .box-5{
                grid-area: box-5;
                background-color: rgb(244,196,28);
            }
            .box-6{
                grid-area: box-6;
                background-color: rgb(27,52,100);
            }
        }
    }
    .products{
        background-image: url(/Romofyi/img/product_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        .products-in{
            width: 1140px;
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            justify-content: center;
            align-items: center;
            .products-title{
                width: 1110px;
                h4{
                    font-size: 2.7rem;
                    margin-bottom: 0;
                    font-weight: 800;
                    letter-spacing: -1px;
                    font-family: 'Mukta', sans-serif;
                }
                .products-line{
                    height: 5px;
                    background-color: rgb(244,196,28);
                    width: 100%;
                }
            }
            .products-boxes{
                display: flex;
                flex-wrap: wrap;
                margin-top: 50px;
                .box{
                    width: 198px;
                    height: 320px;
                    margin: 0 15px 20px 15px;
                    .box-img{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        height: 252px;
                        background-color: #f2f2f2;
                        img{
                            width: auto;
                            height: auto;
                        }
                    }
                    h3{
                        font-size: 1rem;
                        font-weight: 500;
                        span{
                            color: rgb(35, 211, 35);
                            font-family: 800;
                            font-family: 'Mukta', sans-serif;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            a{
                background-color: rgb(27,52,100);
                border-radius: 35px 35px;
                padding: 15px 15px;
                color: white;
                width: 150px;
                height: 20px;
                text-align: center;
                margin: 50px 0;
                font-family: 'Mukta', sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 20px;
                transition: .7s ease;
                display: block;
                &:hover{
                    background-color: rgb(244,196,28);
                    transition: .7s ease;
                }
            }
        }
    }
    .colection{
        width: 100%;
        height: auto;
        background-color: white;
        img{
            width: 100%;
        }
    }
    .news{
        background-color: white;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .news-new{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(244,196,28);
            width: 100%;
            height: 100px;
            margin-bottom: 90px;
            h4{
                font-size: 2.3rem;
                color: white;
                font-family: sans-serif;
                font-weight: 900;
                letter-spacing: .5px;
                text-transform: capitalize;
            }
        }
        .news-box{
            width: 1140px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .news-top{
                width: 1110px;
                margin-bottom: 35px;
                h4{
                    font-size: 2.7rem;
                    margin-bottom: 0;
                    font-weight: 800;
                    letter-spacing: -1px;
                    font-family: 'Mukta', sans-serif;
                }
                .news-line{
                    height: 5px;
                    background-color: rgb(244,196,28);
                    width: 100%;
                }
            }
            .news-block{
                display: flex;
                flex-direction: row;
                margin: 20px 0;
                height: 255px;
                img{
                    padding: 0 15px;
                    width: 440px;
                    height: auto;
                }
                .block-txt{
                    padding: 0 15px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    h1{
                    font-family: 'Mukta', sans-serif;
                    font-weight: 800;
                    font-size: 1.75rem;
                    letter-spacing: -1px;
                    margin: 0;
                    }
                    p{
                        margin-top: 0;
                        font-size: 1.15rem;
                        font-weight: 500;
                        letter-spacing: -.5px;
                        line-height: 30px;
                    }
                    .block-txt-media{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 5px 0;
                        p{
                            border-bottom: 1px solid rgb(244,196,28);
                            padding-bottom: 4px;
                            font-size: 1rem;
                            font-weight: 400;
                            span{
                                &:last-child{
                                    padding-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .newsletter{
        background-color: white;
        padding: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .newsletter-cont{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1140px;
            h1{
                width: 100%;
                font-size: 2.1rem;
                font-weight: 800;
                padding: 0 15px;
                margin: 0;
                font-family: 'Mukta', sans-serif;
            }
            form{
                display: flex;
                flex-direction: column;
                padding: 0 15px;
                align-items: flex-end;
                input{
                    width: 590px;
                    height: 50px;
                    padding: 0 10px;
                    border-radius: 35px 35px;
                    border: 1px solid grey;
                    font-size: 1.1rem;
                    &:focus{
                        outline: 0;
                    }
                }
                button{
                    border-radius: 35px 35px;
                    width: 170px;
                    height: 40px;
                    font-size: 1.15rem;
                    color: white;
                    background-color: rgb(27,52,100);
                }
            }
        }
    }
    .three-box{
        width: 100%;
        height: auto;
        margin-bottom: -80px;
        background-color: white;
        .three-container{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .cont-box{
                width: 350px;
                background-color: white;
                padding: 40px 1px;
                border-radius: 20px;
                margin: 0 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-shadow: 0px 0px 16px rgba(179, 179, 179, 0.2);
                img{
                    display: block;
                    padding-bottom: 5px;
                }
                p{
                    text-transform: capitalize;
                    font-size: 1.1rem;
                    font-weight: 4
                    00;
                    margin: 0;
                }
            }
        }
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: rgb(27,52,100);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        .footer-cont{
            width: 1140px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: auto;
            padding-bottom: 100px;
            .footer-box{
                width: 250px;
                height: auto;
                padding: 0 15px;
                flex-direction: column;
                h5{
                    color: white;
                    font-size: 1.3rem;
                    margin: 0;
                    padding-bottom: 20px;
                    text-transform: uppercase;
                }
                p{
                    color: white;
                    font-size: 1.15rem;
                    margin: 0;
                    text-align: start;
                    padding-right: 30px;
                    line-height: 30px;
                    letter-spacing: -.5px;
                    font-weight: 500;
                }
            }
        }
        .footer-creator{
            background-color: white;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 1.1rem;
                padding-top: 25px;
                padding-bottom: 25px;
                margin: 0;
            }
        }
    }
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ab-1{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(244,196,28);
            width: 100%;
            height: 100px;
            h1{
                font-size: 2.3rem;
                color: white;
                font-family: sans-serif;
                font-weight: 900;
                letter-spacing: .5px;
                text-transform: capitalize;
            }
        }
        .ab-2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin: 50px auto;
            padding: 20px 0;
            .ab-2-1{
                width: 470px;
                padding: 0 15px;
                height: auto;
                h2{
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: rgb(27,52,100);
                    font-family: sans-serif;
                }
                p{
                    font-size: 1.15rem;
                    font-weight: 700;
                    line-height: 25px;
                    letter-spacing: -.5px;
                    margin-bottom: 40px;
                    color: rgb(56, 56, 56);
                }
                a{
                    cursor: pointer;
                    background-color: rgb(27,52,100);
                    color: white;
                    padding: 12px 25px;
                    text-transform: uppercase;
                    font-weight: 700;
                    border-radius: 25px 25px;
                    transition: .4s ease;
                    &:hover{
                        background-color: rgb(244,196,28);
                        transition: .7s ease;
                    }
                }
            }
            .ab-2-2{
                width: 610px;
                padding: 0 15px;
                img{
                    width: 100%;
                }
            }
        }
    }
    .products-site{
        background-image: url(/Romofyi/img/product_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        padding-top: 100px;
        .products-s-in{
            width: 1140px;
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            justify-content: center;
            align-items: center;
            .prod-top{
                height: 100px;
                width: 100%;
                background-color: rgb(244,196,28);
                position: absolute;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                h4{
                    color: white;
                    font-family: sans-serif;
                    font-weight: 900;
                    letter-spacing: .5px;
                    text-transform: capitalize;
                    font-size: 2.3rem;
                }
            }
            .products-s-boxes{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 50px;
                .box{
                    width: 198px;
                    height: 320px;
                    margin: 0 15px 20px 15px;
                    .box-img{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        height: 252px;
                        background-color: #f2f2f2;
                        img{
                            width: auto;
                            height: auto;
                        }
                    }
                    h3{
                        font-size: 1rem;
                        font-weight: 500;
                        span{
                            color: rgb(35, 211, 35);
                            font-family: 800;
                            font-family: 'Mukta', sans-serif;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            a{
                background-color: rgb(27,52,100);
                border-radius: 35px 35px;
                padding: 15px 15px;
                color: white;
                width: 150px;
                height: 20px;
                text-align: center;
                margin: 50px 0;
                font-family: 'Mukta', sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 20px;
                transition: .7s ease;
                display: block;
                &:hover{
                    background-color: rgb(244,196,28);
                    transition: .7s ease;
                }
            }
        }
    }
    .fashion{
        .fas-top{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(244,196,28);
            width: 100%;
            height: 100px;
            h1{
                font-size: 2.3rem;
                color: white;
                font-family: sans-serif;
                font-weight: 900;
                letter-spacing: .5px;
                text-transform: capitalize;
            }
        }
        img{
            width: 100%;
            margin: 90px 0;
        }
    }
    .contact-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cont-top{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(244,196,28);
            width: 100%;
            height: 100px;
            h4{
                font-size: 2.3rem;
                color: white;
                font-family: sans-serif;
                font-weight: 900;
                letter-spacing: .5px;
                text-transform: capitalize;
            }
        }
        form{
            margin: 90px 0;
            width: 920px;
            padding: 0 15px;
            display: flex;
            flex-wrap: wrap;
            input{
                margin: 10px;
                width: 434px;
                height: 40px;
                outline: none;
                font-size: 1rem;
                border: 1px solid gray;
                box-shadow: 0px 0px 4px 0px rgb(244,196,28);
                &::placeholder{
                    padding: 0 15px;
                    font-weight: 400;
                }
                &:focus{
                    border-color: none;
                }
            }
            #message{
                width: 900px;
                height: 150px;
                margin: 10px;
                font-size: 1rem;
                resize: none;
                border: 1px solid gray;
                box-shadow: 0px 0px 4px 0px rgb(244,196,28);
                &::placeholder{
                    padding: 60px 10px;
                    font-size: 1.2rem;
                    font-weight: 400;
                }
                &:focus{
                    outline: none;
                }
            }
            #send{
                width: 180px;
                height: 50px;
                background-color: rgb(27,52,100);
                color: white;
                outline: none;
                border: none;
                border-radius: 25px 25px;
                margin-top: 40px;
                box-shadow: none;
                font-weight: 600;
                letter-spacing: .5px;
                &:hover{
                    background-color: rgb(244,196,28);
                    transition: 1s ease;
                }
            }
        }
    }
}

@media (max-width: 1355px) {
    body{
        .banner{
            .banner-in{
                .banner-txt{
                    margin-right: auto;
                }
                .banner-img{
                    width: 380px;
                    height: 400px;
                    img{
                        width: 380px;
                        height: 560px;
                    }
                }
            }
        }
        .blocks{
            .blocks-cont{
                .box{
                    p{
                        font-size: .95rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    body{
        .contact{
            .nr-mid{
                max-width: 970px;
            }
        }
        .logo{
            .logo-mid{
                max-width: 970px;
            }
        }
        .menu-bar{
            .menu-box{
                max-width: 970px;
                form{
                    input{
                        width: 250px;
                    }
                }
            }
        }
        .banner{
            height: 580px;
            .banner-in{
                width: 970px;
                .banner-txt{
                    h2{
                        font-size: 4.9rem;
                    }
                    h1{
                        font-size: 6.3rem;
                        letter-spacing: -1px;
                    }
                    p{
                        font-size: 2.3rem;
                    }
                }
                .banner-img{
                    width: 300px;
                    height: 400px;
                    img{
                        width: 320px;
                        height: 490px;
                    }
                }
            }
        }
        .products{
            .products-in{
                width: 970px;
                .products-title{
                    width: 950px;
                }
                .products-boxes{
                    .box{
                        width: 210px;
                    }
                }
            }
        }
        .news{
            .news-box{
                width: 970px;
                .news-top{
                    width: 940px;
                }
                .news-block{
                    height: 212px;
                    img{
                        padding: 0 15px;
                        width: 370px;
                        height: auto;
                    }
                    .block-txt{
                        h1{
                        font-size: 1.45rem;
                        letter-spacing: -0.5px;
                        padding-bottom: 10px;
                        }
                        p{
                            font-size: 1.1rem;
                        }
                        .block-txt-media{
                            margin: 0;
                            height: 45px;
                            p{
                                padding-bottom: 4px;
                            }
                        }
                    }
                }
            }
        }
        .newsletter{
            .newsletter-cont{
                width: 970px;
                h1{
                    line-height: 30px;
                }
                form{
                    input{
                        width: 520px;
                    }
                }
            }
        }
        .three-box{
            .three-container{
                .cont-box{
                    width: 290px;
                }
            }
        }
        .footer{
            .footer-cont{
                width: 970px;
                .footer-box{
                    width: 200px;
                }
            }
        }
        .about{
            .ab-2{
                .ab-2-1{
                    width: 370px;
                }
                .ab-2-2{
                    width: 540px;
                }
            }
        }
        .contact-us{
            form{
                width: 770px;
                input{
                    width: 359px;
                }
                #message{
                    width: 770px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body{
        .menu-bar{
            .menu-box{
                form{
                    input{
                        width: 250px;
                        border-radius: 25px 25px;
                        padding: 0 20px;
                        height: 30px;
                        border: none;
                        &:focus{
                            outline: 0;
                        }
                    }
                }
            }
        }
        .about{
            .ab-2{
                .ab-2-1{
                    width: 270px;
                    h2{
                        font-size: 1.25rem;
                    }   
                    p{
                        font-size: 1.05rem;
                    }
                    a{
                        padding: 15px 35px;
                    }
                }
                .ab-2-2{
                    width: 430px;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    body{
        .contact{
            display: flex;
            height: 70px;
            .nr-mid{
                height: 70px;
                margin: 0 auto;
                .nr-phone{
                    max-width: 220px;
                    .n1{
                        font-size: 1rem;
                    }
                }
                .nr-media{
                    max-width: 220px;
                    margin: 0;
                }
                .nr-hours{
                    flex-direction: column;
                    align-items: flex-end;
                    max-width: 220px !important;
                    select{
                        margin: 0;
                    }
                    p{
                        margin: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
        .logo{
            .logo-mid{
                width: auto;
                .logo-mail{
                    width: 220px;
                }
                .logo-img{
                    width: 220px;
                }
                .logo-order{
                    width: 220px;
                }
            }
        }
        .menu-bar{
            .menu-box{
                width: auto;
                .menu{
                    li{
                        a{
                            padding: 0 8px;
                            font-size: .9rem;
                        }
                    }
                }
                form{
                    input{
                        width: 190px;
                    }
                }
            }
        }
        .banner{
            height: 500px;
            .banner-in{
                width: 720px;
                .banner-txt{
                    h2{
                        font-size: 4rem;
                        margin-top: 0;
                    }
                    h1{
                        font-size: 5rem;
                        line-height: 80px;
                    }
                    p{
                        font-size: 1.7rem;
                        margin-top: 0;
                    }
                }
                .banner-img{
                    width: 250px;
                    height: 380px;
                    img{
                        width: 250px;
                        height: 380px;
                    }
                }
            }
        }
        .blocks{
            .blocks-cont{
                .box{
                    p{
                        font-size: .75rem;
                    }
                }
            }
        }
        .products{
            .products-in{
                width: 720px;
                .products-title{
                    width: 700px;
                }
                .products-boxes{
                    .box{
                        width: 210px;
                    }
                }
            }
        }
        .news{
            .news-box{
                width: 720px;
                .news-top{
                    width: 690px;
                }
                .news-block{
                    height: 180px;
                    display: flex;
                    align-items: center;
                    img{
                        width: 270px;
                        height: 150px;
                    }
                    .block-txt{
                        h1{
                        font-size: 1.3rem;
                        padding: 0;
                        }
                        p{
                            font-size: .85rem;
                            line-height: 23px;
                        }
                        .block-txt-media{
                            margin: 0;
                            height: 45px;
                            p{
                                padding-bottom: 4px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .newsletter{
            .newsletter-cont{
                width: 720px;
                h1{
                    font-size: 1.8rem;
                }
                form{
                    input{
                        width: 380px;
                    }
                }
            }
        }
        .three-box{
            .three-container{
                .cont-box{
                    width: 210px;
                }
            }
        }
        .footer{
            .footer-cont{
                width: 720px;
                .footer-box{
                    width: 150px;
                    p{
                        padding: 0;
                        font-size: 1rem;
                        line-height: 25px;
                    }
                }
            }
            
            .footer-creator{
                p{
                    text-align: center;
                    width: 95%;
                    font-size: 1rem;
                }
            }
        }
        .contact-us{
            form{
                width: 570px;
                input{
                    width: 259px;
                }
                #message{
                    width: 570px;
                }
            }
        }
    }
}



@media (max-width: 760px) {
    body{
        .contact{
           display: none;
        }
        .logo{
            .logo-mid{
                .logo-mail{
                    display: none;
                }
                .logo-img{
                    width: 220px;
                }
                .logo-order{
                    display: none;
                }
            }
        }
        .menu-bar{
            height: 130px;
            .menu-box{
                flex-direction: column;
                position: relative;
                .hamburger{
                    display: block;
                    color: white;
                    font-size: 3.6rem;
                    margin-bottom: 15px;
                    cursor: pointer;
                    padding-left: 10px;
                }
                .menu{
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    z-index: 3;
                    flex-direction: column;
                    background-color: rgb(27,52,100);
                    width: 300px;
                    top: 64%;
                    align-items: flex-start;
                    box-shadow: 0 0 10px 0px black;
                    padding: 10px;
                    margin: 0;
                    li{
                        a{
                            height: 40px;
                            padding: 0 10px;
                            font-size: 1.1rem;
                            &:hover{
                                background-color: rgb(27,52,100);
                                color: rgb(244,196,28);
                            }
                        }
                        .m-active{
                            background-color: rgb(27,52,100);
                            color: rgb(244,196,28);
                        }
                    }
                }
                .open{
                    transform: translateY(0px);
                    transition: .7s ease-out;
                    visibility: visible !important;
                    opacity: 1 !important;
                    overflow: visible !important;
                }
                form{
                    input{
                        width: 470px;
                        height: 40px;
                    }
                }
            }
        }
        .banner{
            height: 1205px;
            .banner-in{
                width: 510px;
                flex-direction: column;
                .banner-txt{
                    margin-top: 40px;
                    h2{
                        font-size: 4.2rem;
                        line-height: 50px;
                        font-weight: 700;
                        letter-spacing: -.5px;
                    }
                    h1{
                        margin: 25px 0;
                        font-size: 5.1rem;
                    }
                    p{
                        font-size: 1.9rem;
                    }
                }
                .banner-img{
                    width: 250px;
                    height: 380px;
                    img{
                        width: 510px;
                        height: 750px;
                    }
                }
            }
        }
        .blocks{
            .blocks-cont{
                grid-auto-columns: 1fr; 
                grid-template-columns: 1fr 1fr 1fr; 
                grid-template-rows: 1fr 1fr; 
                gap: 0px 0px; 
                grid-template-areas: 
                    "box-1 box-2 box-3"
                    "box-4 box-5 box-6";
                .box{
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
        .products{
            .products-in{
                margin-top: 200px;
                width: 510px;
                .products-title{
                    width: 490px;
                    h4{
                        font-size: 2rem;
                    }
                }
                .products-boxes{
                    .box{
                        width: 225px;
                        &:last-child{
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        .news{
            .news-box{
                width: 540px;
                .news-top{
                    width: 510px;
                    h4{
                        font-size: 2rem;
                    }
                }
                .news-block{
                    height: auto;
                    flex-direction: column;
                    img{
                        width: auto;
                        height: 290px;
                    }
                    .block-txt{
                        h1{
                        font-size: 1.65rem;
                        }
                        p{
                            font-size: 1.2rem;
                            line-height: 35px;
                        }
                    }
                }
            }
        }
        .newsletter{
            .newsletter-cont{
                width: 540px;
                flex-direction: column;
                justify-content: flex-start;
                h1{
                    font-size: 2rem;
                    line-height: normal;
                    margin-bottom: 10px;
                    width: 510px;
                    display: block;
                }
                form{
                    width: 510px;
                    align-items: flex-start;
                    input{
                        width: 490px;
                    }
                    button{
                        margin: 30px 0 0 0;
                    }
                }
            }
        }
        .three-box{
            .three-container{
                .cont-box{
                    width: 480px;
                }
            }
        }
        .footer{
            .footer-cont{
                width: 510px;
                flex-direction: column;
                .footer-box{
                    width: 100%;
                    padding-bottom: 20px;
                    p{
                        padding: 0;
                        font-size: 1.2rem;
                        line-height: 30px;
                        padding-right: 30px;
                    }
                }
            }
            .footer-creator{
                p{
                    text-align: center;
                    width: 95%;
                    font-size: 1rem;
                }
            }
        }
        .about{
            .ab-2{
                display: flex;
                flex-direction: column;
                .ab-2-1{
                    width: 540px;
                    h2{
                        font-size: 1.9rem;
                    }   
                    p{
                        font-size: 1.15rem;
                        line-height: 33px;
                    }
                    a{
                        font-size: 1.15rem;
                    }
                }
                .ab-2-2{
                    width: 540px;
                    margin-top: 30px;
                }
            }
        }
        .fashion{
            .fas-top{
                h1{
                    font-size: 1.9rem;
                }
            }
        }
        .contact-us{
            form{
                width: 510px;
                input{
                    width: 229px;
                }
                #message{
                    width: 510px;
                }
            }
        }
    }
}



@media (max-width: 575px) {
    body{
        .logo{
            position: relative;
            .logo-mid{
                .logo-img{
                    width: auto;
                    position: absolute;
                    left: 0;
                }
            }
        }
        .menu-bar{
            height: 90px;
            .menu-box{
                position: relative;
                width: 100%;
                align-items: center;
                .hamburger{
                    position: absolute;
                    z-index: 2;
                    top: -100px;
                    right: 25px;
                    color: rgb(27,52,100);
                }
                .menu{
                    position: absolute;
                    width: 85vw;
                    top: -25px;
                    padding: 10px;
                    li{
                        a{
                            padding: 0;
                        }
                    }
                }
                form{
                    input{
                        width: 85vw;
                        height: 40px;
                        padding: 0 5px;
                    }
                }
            }
        }
        .banner{
            height: auto;
            .banner-in{
                width: 90%;
                flex-direction: column;
                align-items: center;
                .banner-txt{
                    margin: 0;
                    padding: 0 5px;
                    h2{
                        font-size: 2.85rem;
                        font-weight: 700;
                        letter-spacing: -1.5px;
                        line-height: 60px;
                    }
                    h1{
                        margin: 0 0 25px 0;
                        font-size: 3.25rem;
                        line-height: 70px;
                    }
                    p{
                        font-size: 1.4rem;
                    }
                }
                .banner-img{
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 95%;
                        height: auto;
                        position: relative;
                    }
                }
            }
        }
        .blocks{
            .blocks-cont{
                width: 100%;
                top: -23px;
                z-index: 3;
                position: absolute;
                display: flex;
                flex-direction: column;
                .box{
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
        .products{
            .products-in{
                margin-top: 1100px;
                width: 90%;
                .products-title{
                    width: 90%;
                    h4{
                        font-size: 2rem;
                    }
                }
                .products-boxes{
                    .box{
                        width: auto;
                        margin: 0 auto;
                    }
                }
            }
        }
        .news{
            .news-box{
                width: 95%;
                .news-top{
                    width: 100%;
                    h4{
                        font-size: 1.9rem;
                    }
                }
                .news-block{
                    img{
                        width: 95%;
                        height: auto;
                    }
                    .block-txt{
                        h1{
                            line-height: 30px;
                            margin: 20px 0;
                        }
                        p{
                            margin-top: 15px;
                            margin-bottom: 0;
                        }
                        .block-txt-media{
                            height: auto;
                            p{
                                padding-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
        .newsletter{
            .newsletter-cont{
                width: 90%;
                flex-direction: column;
                justify-content: flex-start;
                h1{
                    line-height: 30px;
                    width: 100%;
                    padding: 0;
                }
                form{
                    width: 100%;
                    padding: 0;
                    input{
                        width: 95%;
                    }
                }
            }
        }
        .footer{
            .footer-cont{
                width: 100%;
                flex-direction: column;
                .footer-box{
                    width: 90%;
                    padding-bottom: 20px;
                    p{
                        padding: 0;
                        font-size: 1.2rem;
                        line-height: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }
        .about{
            .ab-2{
                .ab-2-1{
                    width: auto;
                }
                .ab-2-2{
                    width: auto;
                }
            }
        }
        .products-site{
            .products-s-in{
                .prod-top{
                    h4{
                        font-size: 1.9rem;
                    }
                }
            }
        }
        .contact-us{
            form{
                width: 100vw;
                padding: 0;
                input{
                    width: 100%;
                }
                #message{
                    width: 100%;
                }
            }
        }
    }
}